httpx
pip==24.2
openai==1.11.0
python-dotenv
aiohttp==3.8.5
Pillow
python_telegram_bot
loguru
requests
asyncio
python-telegram-bot
cryptocompare
beautifulsoup4
python-binance
apscheduler  # Add this if you want to use APScheduler
# or
schedule  # Add this if you want to use the schedule library
flask
aiogram==2.23.1
pyrogram
pygram
Poetry
gunicorn
keep-alive
python-telegram-bot==20.1
loguru==0.7.0
Flask==2.3.2
